<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CsharpAppiumTemplate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CsharpAppiumTemplate.Properties.Settings>
            <setting name="CONFIG_GET_SCREENSHOT_FOR_EACH_STEP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CONFIG_REPORT_NAME" serializeAs="String">
                <value>RelatorioTemplate</value>
            </setting>
            <setting name="CONFIG_TIMEOUT_DEFAULT" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CONFIG_ENVIRONMENT" serializeAs="String">
                <value>qa</value>
            </setting>
            <setting name="APPIUM_IP_ADDRESS" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="APPIUM_PORT" serializeAs="String">
                <value>4723</value>
            </setting>
            <setting name="APPIUM_SERVER" serializeAs="String">
                <value>http://127.0.0.1:4723/wd/hub</value>
            </setting>
            <setting name="APPIUM_AUTOMATION_NAME" serializeAs="String">
                <value>uiAutomator2</value>
            </setting>
            <setting name="APPIUM_VERSION" serializeAs="String">
                <value>1.15.1</value>
            </setting>
            <setting name="ANDROID_PLATAFORM_NAME" serializeAs="String">
                <value>Android</value>
            </setting>
            <setting name="ANDROID_PLATAFORM_VERSION" serializeAs="String">
                <value>9.0.0</value>
            </setting>
            <setting name="ANDROID_DEVICE_NAME" serializeAs="String">
                <value>Pixel_3a_API_28</value>
            </setting>
            <setting name="ANDROID_APP" serializeAs="String">
                <value>app-debug.apk</value>
            </setting>
            <setting name="ANDROID_BROWSER_NAME" serializeAs="String">
                <value>Chrome</value>
            </setting>
            <setting name="ANDROID_UDID" serializeAs="String">
                <value>emulator-5554</value>
            </setting>
            <setting name="ANDROID_NO_RESET" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ANDROID_FULL_RESET" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ANDROID_APP_ACTIVITY" serializeAs="String">
                <value>com.amazonaws.devicefarm.android.referenceapp.Activities.MainActivity</value>
            </setting>
            <setting name="ANDROID_APP_PACKAGE" serializeAs="String">
                <value>com.amazonaws.devicefarm.android.referenceapp</value>
            </setting>
            <setting name="ANDROID_ORIENTATION" serializeAs="String">
                <value>PORTRAIT</value>
            </setting>
            <setting name="TEST_OBJECT_API_KEY" serializeAs="String">
                <value>2A61B01CB2F947F18FDA9F44D6421XXX</value>
            </setting>
            <setting name="TEST_OBJECT_URL" serializeAs="String">
                <value>https://us1-manual.app.testobject.com/wd/hub</value>
            </setting>
            <setting name="IOS_UDID" serializeAs="String">
                <value>8524B5F3-E529-4B09-8F05-EDE6040DDD65</value>
            </setting>
            <setting name="IOS_PLATFORM_NAME" serializeAs="String">
                <value>iOS</value>
            </setting>
            <setting name="IOS_PLATFORM_VERSION" serializeAs="String">
                <value>12.2</value>
            </setting>
            <setting name="IOS_BUNDLE_ID" serializeAs="String">
                <value>Amazon.AWSDeviceFarmiOSReferenceApp</value>
            </setting>
            <setting name="IOS_NO_RESET" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IOS_FULL_RESET" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IOS_AUTOMATION_NAME" serializeAs="String">
                <value>XCUITest</value>
            </setting>
            <setting name="IOS_DEVICE_NAME" serializeAs="String">
                <value>iPhone X</value>
            </setting>
            <setting name="IOS_APP" serializeAs="String">
                <value>myapp2.ipa</value>
            </setting>
        </CsharpAppiumTemplate.Properties.Settings>
    </userSettings>
</configuration>